* {
  margin: 0;
  padding: 0;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.readable {
  font-size: 0;
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}

nav {
  width: 100%;
  position: fixed;
  background-color: white;
  font-family: "Raleway";
  color: black;
}

nav h1 {
  font-size: 0;
}

nav ul {
  position: relative;
  bottom: 7px;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

nav a {
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Raleway";
  color: black
}

nav a:hover {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

nav ul #nav_title {
  margin-right: auto;
}

nav ul #nav_title a {
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

header {
  height: 800px;
  background: url("https://scontent-hkg3-1.xx.fbcdn.net/v/t31.0-8/17039161_10206378452380475_3092393093406768368_o.jpg?oh=1270e2517fe44e2ea888ed1b228ec8f9&oe=596E1189") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

header h2 {
  font-weight: bold;
  font-size: 65px;
}

header p {
  font-size: 18px;
  padding-bottom: 65px;
}

header a {
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: solid 2px white;
}

header a:hover {
  color: orange;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Inconsolata";
  color: black;
}

.introduction {
  height: 300px;
  width: 30%;
  text-align: center;
  margin: 40px 0;
}

.introduction img {
  height: 70px;
  width: 70px;
}

section h2 {
  font-size: 25px;
  padding: 15px 0;
}

section p {
  font-size: 15px;
  height: 40%;
  margin-bottom: 15px;
}

section a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 15px;
  border: solid 1px black;
  padding: 3px 8px;
}

section a:hover {
  color: orange;
  border-color: orange;
}

footer {
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Raleway";
  font-size: 13px;
  display: flex;
  align-items: center;
}
